@model Employee
<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" type="text" class="form-control col-md-10" placeholder="Enter Employee Name">
</div>
<div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" type="text" class="form-control col-md-10" placeholder="Enter Employee Lastname">
</div>
<div class="form-group">
    <label asp-for="Gender"></label>
    <select asp-for="Gender" class="form-control col-md-10">
        <option value="1">Female</option>
        <option value="2">Male</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="BeginDate"></label>

    <div class="datepicker date input-group p-0 shadow-sm col-md-10">
        @Html.TextBoxFor(m => m.BeginDate, string.Format("{{0:{0}}}", "dd-MM-yyyy"), new { @class = "form-control", @readonly = "readonly", @placeholder = "Choose a date" })
        <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-calendar"></i></span></div>
    </div>
    @Html.ValidationMessageFor(m => m.BeginDate)
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" type="number" class="form-control col-md-10" placeholder="Enter Salary">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
