@model IEnumerable<Alert>
@{
    ViewData["Title"] = "Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card col-md-6">
    <div class="card-body">
        <div class="card-text">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a asp-controller="Alert" asp-action="Detail" asp-route-id="@item.Id" class="list-group-item list-group-item-action">@item.Title</a>
                }
            </div>
        </div>
    </div>
</div>

